.bandeau{
    min-height: 2%;
    position: relative;
    text-align: center;
    color: white;
    display: flex;
}
#logo{
    width: 25%;
}
.banniere{
    width: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 2%;
    border: 20px solid blue;
    background-color: blue;
    list-style-type: none;
}
body{
    background-color: silver;
}
h1{
    position: absolute;
    top: 35%;
    left: 62.5%;
    transform: translate(-50%, -50%);
    display: flex;
}
.reseaux{
    display: flex;
}
#facebook{
    width: 30%;
}
#insta{
    width: 30%;
}
#twitter{
    width: 30%;
}
#linkedin{
    width: 30%;
}
#pinterest{
    width: 30%;
}
